# 依存関係
node_modules/

# 環境設定
.env
.env.local
.env.*.local

# ログファイル
logs
*.log
npm-debug.log*

# ビルド出力
dist/
build/

# エディタ固有ファイル
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS固有ファイル
.DS_Store
Thumbs.db
